<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Documento sin título</title>
</head>

<body>
<p><img src="Images/Logo-ani.gif"   width="225"  height="93" alt="ICSYPB" longdesc="Images/Logo-ani.gif" /></p>
<p>&nbsp; </p>
<form id="form1" name="form1" method="post" action="">
<p>
 <label for="Txt_Login">Login:</label>
 <input type="text" name="Txt_Login" id="Txt_Login" tabindex="1" />
</p>
  <p>
   <label for="Txt_Pass">Password:</label>
  <input type="text" name="Txt_Pass" id="Txt_Pass" />
  </p>
  <p>
              <input type="submit" name="BTN_Aceptar" id="BTN_Aceptar" value="Enviar" />
              <input name="BTN_Cancelar" type="button" id="BTN_Cancelar" tabindex="2" value="Cancelar" />
  </p>
</form>
</body>
</html>
