/* Fondo degraaddo CSS3 style :)
body {
	background: rgba(229,239,245,1);
	background: -moz-linear-gradient(top, rgba(229,239,245,1) 0%, rgba(147,183,210,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(229,239,245,1)), color-stop(100%, rgba(147,183,210,1)));
	background: -webkit-linear-gradient(top, rgba(229,239,245,1) 0%, rgba(147,183,210,1) 100%);
	background: -o-linear-gradient(top, rgba(229,239,245,1) 0%, rgba(147,183,210,1) 100%);
	background: -ms-linear-gradient(top, rgba(229,239,245,1) 0%, rgba(147,183,210,1) 100%);
	background: linear-gradient(to bottom, rgba(229,239,245,1) 0%, rgba(147,183,210,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5eff5', endColorstr='#93b7d2', GradientType=0 );
}
*/

body {
/** To edit this background, follow this link:
http://svgeneration.com/generate/Circular-Overlap Vertical?background=025f78&foreground=94bdd4&count=2&height=350&opacity=0.11&
*/


/*background-color: #94bdd4;background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cmVjdCB3aWR0aD0iNTYiIGhlaWdodD0iMTAwIiBmaWxsPSIjZjhkMjAzIj48L3JlY3Q+CjxwYXRoIGQ9Ik0yOCA2NkwwIDUwTDAgMTZMMjggMEw1NiAxNkw1NiA1MEwyOCA2NkwyOCAxMDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZjYyOSIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+CjxwYXRoIGQ9Ik0yOCAwTDI4IDM0TDAgNTBMMCA4NEwyOCAxMDBMNTYgODRMNTYgNTBMMjggMzQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZTUwMyIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+Cjwvc3ZnPg==");
*/
background-color: #2795;
background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
background-image: -webkit-linear-gradient(white 2px, transparent 2px),
                  -webkit-linear-gradient(0, white 2px, transparent 2px),
                  -webkit-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
                  -webkit-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
background-image: -moz-linear-gradient(white 2px, transparent 2px),
                  -moz-linear-gradient(0, white 2px, transparent 2px),
                  -moz-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
                  -moz-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
background-image: linear-gradient(white 2px, transparent 2px),
                  linear-gradient(90deg, white 2px, transparent 2px),
                  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
                  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
-pie-background: linear-gradient(white 2px, transparent 2px) -2px -2px / 100px,
                 linear-gradient(90deg, white 2px, transparent 2px) -2px -2px / 100px,
                 linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px) -1px -1px / 20px,
                 linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px) -1px -1px / 20px,
                 #269;
behavior: url(/pie/PIE.htc);

	}